.trackerPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("https://images.unsplash.com/photo-1580519542036-c47de6196ba5?q=80&w=2071&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-repeat: no-repeat;
  background-size: cover;
}

.formAndExpenses {
  padding: 10px;
  width: 400px;
  background-color: #1e3a4c;
}

.form {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.formAndExpenses input:nth-of-type(1) {
  width: 60%;
  padding: 10px;
  margin-right: 5px;
}

.formAndExpenses input:nth-of-type(2) {
  width: 15%;
  padding: 10px;
  margin-right: 5px;
}

.addButton {
  width: 10%;
  padding: 10px;
  background-color: #1e3a4c;
  color: white;
  border-color: aliceblue;
}

.heading {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
}

.expense {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
  color: white;
  background-color: #11202a;
  padding: 10px;
}

.priceAndDelete {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.priceAndDelete button {
  background-color: #11202a;
  color: white;
  border-left: aliceblue;
  cursor: pointer;
  border: none;
  border-left: solid aliceblue;
  border-left-width: thin;
}

.total {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  padding-right: 30px;
  margin-top: 12px;
}

.logout {
  width: 100%;
  background-color: #ffd6d7;
  border: none;
  padding: 5px;
  font-size: medium;
  margin-top: 10px;
  cursor: pointer;
}

.fetching {
  text-align: center;
  color: white;
}

@media screen and (max_width: 480px) {
  .formAndExpenses {
    width: 300px;
  }
}
