.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("https://images.unsplash.com/photo-1580519542036-c47de6196ba5?q=80&w=2071&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-repeat: no-repeat;
  background-size: cover;
}

.login {
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 500px;
  height: 500px;
}

.heading {
  font-size: 50px;
  margin-bottom: 50px;
}

.loginForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.loginForm input {
  padding: 10px;
  margin-bottom: 5px;
  font-size: xx-large;
}

.loginForm input::placeholder {
  color: lightblue;
}

.loginForm button {
  width: 100%;
  font-size: larger;
  padding: 10px;
  background-color: royalblue;
  font-weight: bold;
  color: white;
  letter-spacing: 1.5px;
  cursor: pointer;
}

.loginForm button:hover {
  background-color: darkcyan;
  color: white;
}

.signUp {
  width: 100%;
  margin-right: 100px;
  margin-top: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: x-large;
  gap: 10px;
}

.signUp button {
  padding: 12px;
  font-weight: bold;
  background-color: darkcyan;
  color: white;
  width: 105px;
  font-size: large;
  letter-spacing: 1.5px;
  cursor: pointer;
}

.signUp button:hover {
  background-color: royalblue;
  color: white;
  letter-spacing: 1.5px;
}

.invalid {
  font-weight: bold;
  color: red;
  font-size: large;
}

@media screen and (max-width: 480px) {
  .login {
    width: 350px;
    height: 350px;
  }

  .loginForm input {
    padding: 10px;
    margin-bottom: 5px;
    font-size: large;
  }

  .heading {
    font-size: 30px;
  }

  .signUp {
    width: 100%;
    margin-top: 20px;
    font-size: large;
    gap: 5px;
  }
}
